.about_block{
    background: #fff;
    padding: 40px;
}

.about_block_title{
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    margin-bottom: 35px;
}

.about_block_description{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 10px;
    text-indent: 3em;
    text-align: justify;
}

.about_block_img{
    float: right;
    margin: 10px 0 10px 20px;
    border: 2px solid #3d96da;
    padding: 3px;
}