.header_block{
    background: #3d96da;
    padding: 30px;
}

.header_block_title{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    color: #fff;
}

.header_block_title a{
    text-decoration: none;
    color: #fff;
}

.header_block_description{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    color: #000000;
    float: right;
    margin-bottom: 20px;
}

.header_block_field{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
    float: right;
    padding: 0;
}

.header_block_field li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.header_block_field li a{
    color: #fff;
    margin: 0 5px;
}

.header_block_field li:last-child a{
    margin-right: 0;
}

.header_block_field li a:hover{
    text-decoration: none;
    color: #000000;
}

#nav ul{
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
    background: #f6f9f9;
    border-radius: 10px;
    padding: 20px;
    z-index: 999;
}

#nav ul li{
    padding-top: 1px;
    float: none;
    display: block;
}

#nav ul a{
    white-space: nowrap;
    display: block;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;

}

#nav li:hover ul{
    left: 0;
    opacity: 1;
}

#nav ul a:hover{
    color: #00b3ee;
}

