.header_block{
    background: #3d96da;
    padding: 30px;
}

.header_block_title{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    color: #fff;
}

.header_block_description{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    color: #000000;
    float: right;
    margin-bottom: 20px;
}

.header_block_field{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
    float: right;
}

.header_block_field a{
    color: #fff;
    margin-left: 5px;
}

.header_block_field a:hover{
    text-decoration: none;
    color: #000000;
}