.image_block{
    background: linear-gradient( #579fd3, #d5d8f6);
    padding-top: 30px;
}

.image_block_wrapper{
    margin-bottom: 30px;
}

.image_block_wrapper_center{
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.image_block_img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}