.index_block{
    background: linear-gradient(#3d96da, #579fd3, #d5d8f6);
    padding: 40px;
}

.index_block_title{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    margin-bottom: 20px;
}

.index_block_description{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    padding: 0 65px;
}

.index_block_btn{
    position: relative;
    text-align: center;
    margin-top: 35px;
}