.methods_block{
    background: #fff;
}

.methods_block_carousel{
    padding: 35px;
    min-height: 750px;
}

.methods_block_btn{
    position: relative;
    text-align: center;
}

.carousel_items{
    background: linear-gradient(#3d96da, #579fd3, #d5d8f6);
}

.methods_block_read_more{
    padding-top: 45px;
}

.methods_block_info_text{
    padding: 0 20px;
    text-align: justify;
}

.methods_block_info_title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.methods_block_info_description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 45px;
    text-indent: 1.5em;
}

.methods_block_info_wrapper{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.methods_block_img{
    float: right;
    margin: 10px 0 10px 20px;
}