.papers_block{
    background: linear-gradient( #579fd3, #d5d8f6, #ffffff);
    padding-top: 5px;
}

.papers_block_info{
    background: linear-gradient( #3d96da, #579fd3);;
    padding: 30px;
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 33px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.86);
    text-align: center;
}