.services_block_info{
    background: linear-gradient( #3d96da, rgba(88, 197, 250, 0.55));
    padding: 30px;
}

.services_block_info_title{
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 33px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.89);
    text-align: center;
}

.services_block_info_description{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    padding: 25px;
}

.services_block{
    padding: 30px;
    background: #fff;
}

.services_block_border{
    border-bottom: 1px solid #a0a3a6;
    margin-bottom: 30px;
    padding: 20px;
}

.services_block_title{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.services_block_description{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.services_block_star{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: justify;
}