.video_block_header{
    background: linear-gradient( #3d96da, #57a8dc);;
    padding: 30px;
}

.video_block_header_title{
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 33px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.86);
    text-align: center;
}

.video_block{
    text-align: center;
    padding: 20px;
}

.video_block_title{
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.86);
    text-align: center;
    padding-bottom: 20px;
}
